@import "../../../node_modules/bulma/sass/utilities/mixins.sass";

.add-item-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0 16px;
  align-items: flex-start;

  @include from($tablet) {
    grid-template-columns: 200px 60px 100px;
    grid-template-rows: none;
  }
}

.shared {
  grid-column-start: 1;
  grid-column-end: 4;
}

.user {
  grid-column-start: 1;
  grid-column-end: 4;
  & > div {
    gap: 0.5rem;
  }

  @include from($tablet) {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}

.add-item-button {
  margin-top: calc(24px + 0.5em);
}

.wide-track {
  grid-column-start: 1;
  grid-column-end: 3;

  @include from($tablet) {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}
