.list-label {
  min-width: 10rem;
  display: flex;
  align-items: center;
}

.value {
  display: flex;
  align-items: center;
}

.list {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
}
