.details-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.details-column {
  display: flex;
  flex-direction: column;
}

.user-row {
  display: grid;
  gap: 0.1rem 1rem;
  grid-template-columns: repeat(2, 1fr);
}
