@import "../../../node_modules/bulma/sass/components/panel.sass";

.styled-panel {
  display: grid;
  grid-template-rows: 55px repeat(10, 41px) 46px;

  .panel-block:hover {
    background-color: #f5f5f5;
  }
}

.pagination-block {
  grid-row-start: 12;
}

.middle-row {
  grid-row-start: 6;
  border-bottom: none !important;
}
