.delete-root {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  & > input {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.user-column-title {
  position: relative;

  & > i {
    position: absolute;
    top: -45%;
    left: 0;
  }
}
