$userFormGridTemplate: 200px 60px 90px;

:root {
  --discount-column-user: 85px;
}

.user-form-layout {
  display: grid;
  grid-template-columns: $userFormGridTemplate var(--discount-column-user) 3rem;
  gap: 16px;
  width: fit-content;
  padding-right: 60px;
  align-items: flex-start;
}
