@import "../../../node_modules/bulma/sass/utilities/mixins.sass";

.add-user-layout {
  & button {
    margin-top: calc(24px + 0.5em);
  }

  @include from($tablet) {
    display: grid;
    grid-template-columns: 200px 100px;
    gap: 16px;
    align-items: flex-start;
  }
}
